<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>数据资产质量评估系统</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="数据资产目录" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" (click)="newTab('welcome')" >Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/setup">Setup</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/test">Test</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">

        <nz-tabset [nzType]="'card'" [nzTabBarExtraContent]="extraTemplate">
          <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              <div>
                {{ tab }}
                <i nz-icon nzType="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
              </div>
            </ng-template>
            <router-outlet></router-outlet>
          </nz-tab>
        </nz-tabset>
<!--        <ng-template #extraTemplate>-->
<!--          <i class="ant-tabs-new-tab" nz-icon nzType="plus" (click)="newTab()"></i>-->
<!--        </ng-template>-->


      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
